* {
    font-size: large;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url('img/background_wood2.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

head {
    background-image: url('img/background_wood1.jpeg');
}

#footer {
    background-image: url('img/background_wood1.jpeg');
    
}

#footer-left {
    float:left;
    width: 50%;
}

#footer-right {
    float:right;
    width:50%;
}

#logo {
    width: 50;
    height: 65;

}

#tracker-box {
    margin: auto;
    background-color: aquamarine;
    width: 50%;
    border: 5px solid black;
    text-align: center;
    padding: 50px 0;

}

#track-pkg-header {
    margin: auto;
}

.home-gallery-img {
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    margin: 5px 5px;
}

.bad {
    background-color: red;
    color: white;
    padding: 10px 10px;
    width: 300px;
}

.close_error {
    float: right;
}